@import "reset";
@import "fonts";

/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "proxima-nova";
    line-height: 1.6;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.header {
    background: #ffd97e;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    margin-left: 1.5rem;
}
.nav-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
.nav-list a:hover {
    color: #000;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}
.hero {
    background: #ffd97e;
    text-align: center;
    padding: 24rem 1rem;
    background-image:  url('/images/vines.png'), url('/images/bg_orange.png');
    background-position: center bottom, center top;
    background-repeat: repeat-x, repeat;

}

.about-hemi {
    padding: 24rem 1rem;
    background-image: url('/images/field.jpg');
    background-position: center center;
    background-size: cover;
}

.mission {
    background: #a5d9cd;
    padding: 4rem 1rem;
    background-image: url('/images/bg_green.png');
}
.hemp-copilot {
    padding: 4rem 1rem;

    .circle {
        position: absolute;
        top: -244px;
        right: 38em;
    }
}
.copilot-info, .copilot-image {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 1%;
}
.copilot-image img {
    width: 100%;
    height: auto;
}
.scroll-icon {
    margin-top: 2rem;
    font-size: 1.25rem;
}
.footer {
    background: #231f20;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}


strong {
    font-weight: bold;
}

em {
    text-decoration: underline;
}

section {
    position: relative;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #ffdd67;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
    }
    .nav-open {
        display: flex;
    }
    .copilot-info, .copilot-image {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }
}