.header {
    padding: 1rem 1rem;

    position: absolute;
    top: 0;
    left: auto;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .nav-list {
        list-style: none;
        display: flex;
        margin-left: 9em;
        line-height: 1.2;
        font-weight: 800;
    }
    .nav-list li {
        margin-left: 1.5rem;
        text-align: center;
    }
    .nav-list a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s;
    }
    .nav-list a:hover {
        color: #000;
    }
    .hamburger {
        display: none;
        cursor: pointer;
    }
    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
    }

    @media (max-width: 850px) {
        .hamburger {
            display: block;
        }
        .nav-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
        }

        .nav.show {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 75%;
            background-color: #ffd97e;
            padding: 2rem;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
            transform: translateX(100%);
            transition: transform 0.3s ease;
            transform: translateX(0);
            z-index: 2;
            .nav-list {
                display: block;
                top: 4rem;

                li {
                    text-align: left;
                    margin-bottom: 1em;
                    font-size: 1.3em;
                }
            }
        }
    }
}