.hero {
    background: #ffd97e;
    text-align: center;
    padding: 16rem 1rem 19rem 1rem;
    background-image:  url('/images/vines.png'), url('/images/bg_orange.png');
    background-position: center bottom, center top;
    background-repeat: repeat-x, repeat;

    .container {
        position: relative;
        h1 {
            font-size: 51px;
            width: 52%;
            text-align: center;
            line-height: 1.2;
            margin: 2rem auto 5rem auto;
            strong {
                color: #2a443f;
            }
        }
    
        .circle {
            position: absolute;
            bottom: -16rem;
            right: 15rem;
        }

        .scroll-icon {

        }

        @media (max-width: 1000px) {
            h1 {
                width: 85%;
            }
        }

        @media (max-width: 650px) {
            .circle {
                display: none;
            }
        }
    }


}
