/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://p.typekit.net/p.css?s=1&k=qxl7yez&ht=tk&f=139.140.169.170.175.176&a=17641256&app=typekit&e=css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/8738d8/00000000000000007735e611/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/8738d8/00000000000000007735e611/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/8738d8/00000000000000007735e611/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/58acf5/00000000000000007735e622/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"), url("https://use.typekit.net/af/58acf5/00000000000000007735e622/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"), url("https://use.typekit.net/af/58acf5/00000000000000007735e622/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}
/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova";
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
  left: auto;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.header .nav-list {
  list-style: none;
  display: flex;
  margin-left: 9em;
  line-height: 1.2;
  font-weight: bold;
}
.header .nav-list li {
  margin-left: 1.5rem;
  text-align: center;
}
.header .nav-list a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.header .nav-list a:hover {
  color: #000;
}
.header .hamburger {
  display: none;
  cursor: pointer;
}
.header .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
}

.hero {
  background: #ffd97e;
  text-align: center;
  padding: 16rem 1rem 19rem 1rem;
  background-image: url("/images/vines.png"), url("/images/bg_orange.png");
  background-position: center bottom, center top;
  background-repeat: repeat-x, repeat;
}
.hero .container {
  position: relative;
}
.hero .container h1 {
  font-size: 51px;
  width: 52%;
  text-align: center;
  line-height: 1.2;
  margin: 2rem auto 5rem auto;
}
.hero .container h1 strong {
  color: #2a443f;
}
.hero .container .circle {
  position: absolute;
  bottom: -16rem;
  right: 15rem;
}
.hemp-copilot {
  padding: 4rem 1rem;
}
.hemp-copilot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.hemp-copilot .container h1 {
  font-size: 38px;
  line-height: 1.2;
  margin: 1rem 0 1.8rem 0;
}
.hemp-copilot .container h1 strong {
  color: #2a443f;
}
.hemp-copilot .container .subhead {
  font-size: 0.8em;
}
.hemp-copilot .container .button {
  background-color: #b3d336;
  padding: 0.5em 1em;
  font-size: 1.25em;
  margin-top: 3.5rem;
  display: inline-block;
}
.hemp-copilot .container .copilot-info, .hemp-copilot .container .copilot-image {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 1%;
}
.hemp-copilot .container .copilot-image img {
  width: 100%;
  height: auto;
  padding: 4rem;
}

.about-hemi {
  color: white;
  padding: 10rem 1rem;
  background-image: url("/images/field.jpg");
  background-position: center center;
  background-size: cover;
}
.about-hemi .container {
  text-align: center;
}
.about-hemi .container p {
  width: 50%;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.mission {
  background: #a5d9cd;
  padding: 5rem 1rem 7rem 1rem;
  background-image: url("/images/bg_green.png");
}
.mission .container {
  width: 38%;
  text-align: center;
}
.mission .container h1 {
  font-size: 38px;
  line-height: 1.2;
  margin: 1rem 0 1.8rem 0;
}
.mission .container h1 strong {
  color: #2a443f;
}
.mission .container .subhead {
  font-size: 0.8em;
}

.footer {
  background: #231f20;
  color: #fff;
  padding: 5rem 1rem;
  text-align: center;
}

strong {
  font-weight: bold;
}

em {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }
  .nav-open {
    display: flex;
  }
  .copilot-info, .copilot-image {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
